{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-12">
        <!-- ------------ EVENTO: cmd_vel ------------ -->
        <div class="card m-2" >
            <div class="card-body text-center">
                <button id="cmd_forward" class="btn btn-primary" style="font-size: 20px">Forward</button>
                <button id="cmd_backward" class="btn btn-primary" style="font-size: 20px">Backward</button>
                <button id="cmd_left" class="btn btn-info" style="font-size: 20px">Left</button>
                <button id="cmd_right" class="btn btn-info" style="font-size: 20px">Right</button>
                <button id="cmd_stop" class="btn btn-danger" style="font-size: 20px">Stop</button>
            </div>
        </div>
        <!-- --------------------------------------------------- -->
    </div>

    <div class="col-4">
        <!-- ------------ EVENTO: battery ------------ -->
        <div class="card m-2" >
            <div class="card-header">
                <h5 class="card-title">Event: battery</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Get current battery status of the robot</p>
                <p class="card-text">voltage: <span id="battery_voltage"></span> </p>
                <p class="card-text">Percentage: <span id="battery_percentage"></span> </p>
            </div>
        </div>
        <!-- --------------------------------------------------- -->
    </div>

    <div class="col-4">
        <!-- ------------ EVENTO: robot_pose ------------ -->
        <div class="card m-2" >
            <div class="card-header">
                <h5 class="card-title">Event: robot_pose</h5>
            </div>                
            <div class="card-body">
                <p class="card-text">Current robot pose with respect to map frame</p>
                <p>Position: <span id="position"></span></p>
            </div>
        </div>
        <!-- --------------------------------------------------- -->
    </div>


</div>
<!-- BEGIN toast -->
<div class="position-fixed top-0 end-0 p-3 mt-5" style="z-index: 11">
    <div id="toast_element" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
        <div class="toast-header">
        <strong id="toast_title" class="me-auto"></strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div id="toast_body" class="toast-body"></div>
    </div>
    <div id="notification_toast_element" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
        <div class="toast-header">
        <strong id="notification_toast_title" class="me-auto"></strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div id="notification_toast_body" class="toast-body"></div>
    </div>
</div>
<!-- END toast -->
{% endblock content %}


{% block scripts %}
<script src="{{ url_for('static', path='/js/event_test.js') }}"></script>
{% endblock scripts %}
